* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --green-color: #426b1f;
  --white-color: white;
  --black-color: black;
  --border-color: #e6e6e6;
  --card-color: #fafaf5;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
section {
  padding: 80px 0;
}
.btn {
  padding: 15px;
  border-radius: 8px;
  background-color: var(--green-color);
  color: var(--white-color);
}
img {
  max-width: 100%;
}
header {
  background-color: whitesmoke;
  position: sticky;
  top: 0;
  padding: 25px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo {
  font-family: "Newsreader", serif;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -1%;
  color: var(--green-color);
}
header .container ul {
  display: flex;
}
header .container ul li a {
  padding: 0 20px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--black-color);
}
header .container ul li .basket-btn {
  padding: 15px;
  border-radius: 8px;
  background-color: var(--green-color);
  color: var(--white-color);
}
@media (max-width: 991px) {
  nav {
    display: none;
  }
}
.hero .container {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
.hero .container h1 {
  font-family: "Newsreader", serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 76.8px;
  letter-spacing: -2%;
}
.hero .container a {
  display: block;
  width: fit-content;
  margin: 35px auto 0 auto;
}
.gallery {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.gallery .lettuce {
  width: 420px;
  margin-left: 190px;
}
.gallery figure {
  width: 720px;
  margin-left: 70px;
}
/* mobile */
@media (max-width: 450px) {
  .gallery {
    justify-content: center;
  }
  .gallery .lettuce {
    margin: 0;
  }
  .gallery figure {
    margin: 0;
  }
  .gallery figure figcaption {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .gallery figure {
    width: 420px;
    margin-left: 190px;
  }
}